@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  /* (idk how to import this) */
  /* polar night (dark grey to mid)*/
  --polar1: #2e3440;
  --polar2: #3b4252;
  --polar3: #434c5e;
  --polar4: #4c566a;
  /* snow storm (grey to light grey) */
  --snow1: #d8dee9;
  --snow2: #e5e9f0;
  --snow3: #eceff4;
  /* frost (light blue to dark)*/
  --frost1: #8fbcbb;
  --frost2: #88c0d0;
  --frost3: #81a1c1;
  --frost4: #5e81ac;
  /* aurora (red to purple) */
  --aurora1: #bf616a;
  --aurora2: #d08770;
  --aurora3: #ebcb8b;
  --aurora4: #a3be8c;
  --aurora5: #b48ead;
}

/* resets */

* {
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  /* background-color: var(--snow1); */
  color: var(--polar1);
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

/* form */

input {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
  padding: 10px;
  border: 1px solid var(--snow1);
  border-radius: 4px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

input:focus {
  border-color: var(--frost2);
}

/* faq */

.faq-item {
  background-color: var(--snow3);
  border: 1px solid var(--polar4);
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.question {
  font-weight: bold;
  margin-bottom: 10px;
}
.answer {
  display: none;
}
.faq-item.open .answer {
  display: block;
}
.faq-item:hover {
  background-color: var(--snow1);
}

/* stock */

.stock-widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--polar4);
  border-radius: 5px;
  padding: 10px;
  width: 400px;
  background-color: var(--snow3);
}

.symbol {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
}

.company-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 5px;
}

.price {
  font-size: 18px;
  font-weight: bold;
}

.change-plus {
  font-size: 14px;
  color: green;
}

.change-minus {
  font-size: 14px;
  color: red;
}

.market-cap {
  font-size: 14px;
  margin-bottom: 5px;
}

.description {
  font-size: 12px;
}

/* utils */

.body-text {
  font-size: 14px;
}

.container {
  display: flex;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  margin: 20px;
  padding-top: 10px;
  gap: 50px;
}

.portfolioContainer {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  margin: 20px;
  padding-top: 10px;
}

table {
  width: 1000px;
  border-collapse: collapse;
  margin: 20px;
  font-size: 20pt;
}

thead {
  text-align: left;
}
th {
  width: 800px;
  border-bottom: 4px solid var(--polar1);
}

tbody tr:nth-child(odd) {
  background-color: var(--snow1);
}

tfoot {
  border-top: 2px solid var(--polar1); 
  border-bottom: 4px solid var(--polar1);
}

tfoot td:nth-child(4) {
  color: var(--aurora4);
}

.button {
  background-color: var(--polar1);
  color: white;
  cursor: pointer;
  border: 0px;
  border-radius: 50px;
  padding: 10px 50px;
  transition-duration: 250ms;
}

.button:hover {
  background-color: white;
  color: black;
  border-color: transparent;
}

.card {
  background-color: white;
  border-radius: 20px;
  box-shadow: 1px 2px 5px var(--snow1);
  padding: 20px;
  margin: 10px;
}

.card2 {
  background-color: var(--polar2);
  color: white;
  border-radius: 50px;
  padding: 20px;
  margin: 10px;
}

.width-75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}

.width-25 {
  width: 25%;
}

.center {
  margin: 0 auto;
}

.center-text {
  text-align: center;
}

.bold-text {
  font-weight: 900;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}
.image {
  width: 100%;
  height: auto;
}

.stockContainer {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(2,auto);
  width: 100%;
  height: auto;
}

.mainwrapper {
  bg: #eceff4;
}

.bottom-right {
  position: absolute;
  right: 0px;
  bottom: 0px;
}
