.wrapper {
    padding: 20px;
}


/* Add a black background color to the top navigation */
.topnav {
  background-color: #e5e9f0;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #2e3440;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #d8dee9;
  color: #2e3440;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #3b4252;
  color: #e5e9f0;
}
